.operator{
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 5px;
    background-color: rgb(238, 96, 103);
}
.number{
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 5px;
     background-color: rgb(238, 96, 103);
}
.keypad{
    width: 270px;
    padding: 40px;
    margin: 30px;

    background-color:rgb(233, 122, 233);
}
.history{
    background-color:white;
}